<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Sustentour</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/sustentour.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="shortcut icon" href="../static/midia/imagens/logo.png" type="image/x-png">
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<script>
jQuery(document).ready(function($) {
    $(".scroll").click(function(event){        
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top}, 1000);
   });
});
</script>

<style>
	

*{
	font-family: "Yu Gothic Light";
}
.a a {
	color: white;
}


body {
	background-image: url(../static/midia/imagens/green_.jpeg);
	background-repeat: no-repeat;
	background-size:  1375px 670px;

}

.centro {
	text-align: center;
	color: white;
	font-family: "Yu Gothic";
	font-size: 22px;
	position: relative;
	top: -150px;
}
	
</style>
</head>





<body>
	<div id="menu">
	<ul>
		<div class="a">
		<li><a class="scroll" href="#servicos">Serviços</a></li>
		<li><a href="contato.html">Contato</a></li>
		<li><a href="login.html">Login</a></li>
		</div>
	</ul>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div id="titulo">
		<h1>Sustentour</h1>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="centro">
		<p>Seja bem vindo a Sustentour!<br>
		Conheça o mundo de uma forma sustentável!</p>
	</div>

	<br>
	<br>
	<br>
	<br>
	<div class="centro">
		<a class="scroll" href="#servicos"><img src="../static/midia/imagens/arrow.svg" alt="Flecha para baixo" width="45" height="45"></a>
	</div>
	<br>
	
	<div class="centro23">
		<h2>Serviços</h2>
		<p>Olá! Está pronto para conhecer nossos serviços?<br>
		  Se você ficar com alguma dúvida entre em contato conosco!</p><br><br>
	</div>
		<br>
		<br>
	<div id="servicos">
		<div class="centro">
			<img src="../static/midia/imagens/susteinable_.png" width="350" height="350" alt="Projeto Sustentabilidade">
		</div>
		<div class="centro23">
			<h2>Projeto Sustentabilidade</h2>
			<p>Atualmente, poucas pessoas conhecem o que pode vir a ser um turismo sustentável, e a Sustentour, em <br>
			parceria com a Greenpace irá falar um pouco sobre o projeto sustentável integrado com o turismo <br>
			nos dias atuais. <br>
			Ficou interessado? Clique <a href="sustentavel.html">aqui</a> para conhecer mais sobre o projeto!</p><br><br>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="centro">
		<img src="../static/midia/imagens/turismo.jpg" alt="Continentes">
	</div>
	<div class="centro23">
		<h2>Viagens</h2>
		<p>Está planejando viajar para algum lugar do mundo? Você está no lugar certo! A Sustentour oferece <br>
		   viajens para qualquer lugar do mundo com preços acessíveis.<br>
		   Para saber mais, clique <a href="compras.html"> aqui</a>.</p>
	</div>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="centro">
	<div class="menu-button"><i class="zmdi zmdi-share"></i>
    	<a href="#"><i class="zmdi zmdi-twitter"></i></a>
    	<a href="#"><i class="zmdi zmdi-google-plus"></i></a>
    	<a href="#"><i class="zmdi zmdi-codepen"></i></a>
	</div>
</div>



<br>
<br>
<br>
<footer>
<br>
<div class="italico">	
	<h2>© 2018 Copyright: Todos os direitos reservados</h2>
</div>
<br>
</footer>



</body>
</html>